.author-info {
  margin-bottom: -64px;
  padding: 4rem 0;
  background-color: $light-grey;
}

.author-info__card {
  background: white;
  box-shadow: $box-shadow;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

@include min('small') {
  .author-info__card {
    flex-direction: row;
    border-radius: $border-radius;
  }
}

.author-info__avatar {
  max-width: 150px;
  border-radius: 50%;
  margin-bottom: 2rem;

}

@include min('small') {
  .author-info__avatar {
    max-width: 125px;
    margin-right: 2rem;
    margin-bottom: 0;
  }
}

.author-info__text {
  margin-bottom: 0;
}


