.loading-view {
  height: 200px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border-radius: $border-radius;
  overflow: hidden;
  background-image: url('../images/super-mario/background.jpg');
  background-repeat: repeat-x;
  background-size: auto 100%;
}

.loading-view__image {
  position: absolute;
  bottom: 26px;
  left: 24px;
  height: 40px;
  width: auto;
  object-fit: contain;
  object-position: center;
  margin-right: 1rem;

  animation-name: move-background;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@include min('x-small') {
  .loading-view__image {
    animation-duration: 15s;
  }
}

.loading-view__text {
  font-family: 'PressStart', monospace;
  text-transform: uppercase;
  font-size: 0.9rem;
  color: #fff;
  margin: 0;
}

@keyframes move-background {
  from {
    left: -24px;
  }
  to {
    left: 100%
  }
}
