.project-list__item {
  display: flex;
  flex-direction: column;
  min-height: 50px;
  align-items: flex-start;
  margin: 0 -1rem;
  padding: .5rem 1rem;
  border: 2px dashed transparent;
  border-radius: $border-radius;
  transition: border 50ms ease-in-out;

  &:hover {
    border-color: var(--primary-color);
  }

  &:active,
  &:focus {
    border-style: solid;
  }
}

.project-list__item__icon {
  height: 30px;
  width: 30px;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  margin-right: 1rem;
}

.project-list__item__name-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.project-list__item__name {
  color: var(--text-color);
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.3;
  border-bottom: none;
  margin: 0 !important;
  padding: 0;
}

@include min('small') {
  .project-list__item__name {
    font-size: 1.3rem;
    line-height: 1.3;
  }
}

.project-list__item__description {
  display: none;
  margin: 0 0 0 calc(30px + 1rem);
  font-size: .9rem;
  color: var(--light-text-color);
}

@include min('x-small') {
  .project-list__item__description {
    display: inline-block;
  }
}

.project-list__github-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2px 4px;
  margin-left: auto;
  border: 1px solid rgba(27, 31, 35, 0.2);
  border-radius: $border-radius;
  font-size: 0.9rem;
  background-color: $white;
  color: #24292e;

  svg {
    height: 1rem;
    margin-right: 4px;
  }
}
