/* Breakpoints */

$xx-small: 320px;
$x-small: 620px;
$small: 800px;
$medium: 1200px;
$large: 1300px;

$breakpoints: (
        'xx-small': $xx-small,
        'x-small': $x-small,
        'small': $small,
        'medium': $medium,
        'large': $large,
);

$min-breakpoints: (
        'xx-small': (min-width: $xx-small),
        'x-small': (min-width: $x-small),
        'small': (min-width: $small),
        'medium': (min-width: $medium),
        'large': (min-width: $large),
);

$content-max-width: 800px;

/* Colors */

$green: #00d287;
$yellow: #fff514;
$purple: #6b1bff;
$black: #0c0c0c;
$white: #fff;
$grey: #ccc;

$background-color: $white;
$background: #f0f0f0;
$primary-color: #1b62ff;
$primary-hover: lighten($primary-color, 40%);
$secondary-color: #ff411b;
$light-grey: #fafbfc;
$aqua: #1bffb7;
$accent-color: #cdcdcd;
$light: #f2f2f2;
$alternate-background: #f0f0f0;
$alternate-color: #404040;
$link-color: $primary-color;
$link-hover-color: darken($link-color, 22%);
$highlight: #ffeea8;
$error: #d33c40;
$bq-border: 16px solid #f0f0f0;
$code: Menlo;

/* Typography */

// Body font
$font-size: 1rem;
$body-font-size: 1.15rem;
$font-style: normal;
$font-variant: normal;
$font-weight: normal;
$font-color: #1e1e1e;
$light-font-color: rgba(0, 0, 0, 0.6);
$font-family: -apple-system, BlinkMacSystemFont, 'Roboto', Helvetica Neue, Helvetica, Arial, sans-serif;
$line-height: 1.6;

// Headings
$heading-font-color: #111;
$heading-font-weight: 800;
$heading-font-family: -apple-system, BlinkMacSystemFont, 'Roboto', Helvetica Neue, Helvetica, Arial, sans-serif;
$heading-line-height: 1.3;

// Mobile heading font size
$h1-mobile: 1.75rem;
$h2-mobile: 1.5rem;
$h3-mobile: 1.25rem;
$h4-mobile: 1.1rem;
$h5-mobile: 1rem;

// Heading font size
$h1: 2.5rem;
$h2: 2rem;
$h3: 1.75rem;
$h4: 1.5rem;
$h5: 1.3rem;

/* Padding */

$padding: 60px;
$margins: 2rem;
$content-padding: 60px 0;
$content-padding-mobile: 30px 0;

/* Borders */

$border-width: 2px;
$border-style: solid;
$border-color: #ccc;
$border-radius: 4px;
$borders: $border-width $border-style $border-color;
$box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.16);

/* Buttons */

$button-background: white;
$button-background-hover: $primary-hover;
$button-color: darken($primary-color, 10%);
$button-font-weight: 600;
$button-font-family: -apple-system, BlinkMacSystemFont, 'Roboto', Helvetica Neue, Helvetica, Arial, sans-serif;
$button-font-size: 1.1rem;
$button-border-width: 2px;
$button-border-style: solid;
$button-border-color: $primary-color;
$button-border-radius: $border-radius;
$button-text-transform: none;

// Accent buttons
$accent-button-background: $secondary-color;
$accent-button-color: #fff;
$accent-button-color-hover: #fff;

/* Forms */

$forms: (
        '[type=color], [type=date], [type=email], [type=number], [type=search], [type=tel], [type=text], [type=url], select, textarea'
);
$buttons: ('.button, a.button, button, [type=submit], [type=button]');
$input-background: #fff;
$placeholder: darken($accent-color, 20%);
$form-border: 1px solid $border-color;
$form-border-hover: 1px solid darken($border-color, 10%);
$form-border-focus: 1px solid $link-color;

/* Tables */

$stripes: #f8f8f8;
$caption: #ababab;

/* Code */

$code-color: $font-color;
$code-size: 14px;
$code-family: Menlo, monospace;
$code-background: transparent;
$code-borders: $borders;

/* Navigation Bar */

$nav-bar-height: 90px;
$nav-bar-height--mobile: 55px;
$nav-bar-height--is-scrolled: 60px;
$nav-bar-height--mobile--is-scrolled: 50px;

/* Reading Bar */

$reading-bar-height: 6px;

/* Footer */

$footer-height: 90px;
$footer-height--mobile: 55px;

$code-font-family: Menlo, 'Roboto Mono', Courier New, monospace;
$code-font-color: #b3b9c5;
$string: #92d192;
$variable: #f2777a;
$property: #abb2bf;
$number: #fca369;
$operator: #ac8d58;
$punctuation: #d5d8df;
$comment: #777c85;
$function: #62cfcf;
$keyword: #ffeead;
$attribute: #ffd479;
$class: #e1a6f2;
$tag: #6ab0f3;
$error: #f2777a;

/* Transition */

$transition-duration: 300ms;

/* CSS Variables */

:root {
  --background-color: #{$background-color};
  --light-background-color: #{$light-grey};
  --primary-color: #{$primary-color};
  --light-primary-color: #{lighten($primary-color, 40%)};
  --text-color: #{$font-color};
  --light-text-color: #{$light-font-color};
  --heading-text-color: #{$heading-font-color};
  --navbar-background-color: #{$light-grey};
  --navbar-text-color: #{$font-color};
  --footer-background-color: #{$light-grey};
  --footer-text-color: #{$font-color};
}
