// Fonts

@font-face {
  font-family: 'PressStart';
  src: url('../fonts/PressStart.ttf') format('truetype');
}

// Headings

h1,
h2,
h3,
h4,
h5 {
  margin: 0 0 1rem 0;
  font-weight: $heading-font-weight;
  font-family: $heading-font-family;
  line-height: $heading-line-height;
  color: var(--heading-text-color);

  &:not(:first-child) {
    margin: 0 0 1rem 0;
  }
}

// Increased margin on additional headings
h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child) {
  margin-top: 3rem;
}

// Heading individual styles
h1 {
  font-size: $h1-mobile;
  font-weight: 600;
}

h2 {
  font-size: $h2-mobile;
  font-weight: 600;
  border-bottom: 2px solid lighten($border-color, 12%);
  padding-bottom: 0.5rem;
}

h3 {
  font-size: $h3-mobile;
  font-weight: 600;
}

h4 {
  font-size: $h4-mobile;
  font-weight: 600;
}

h5 {
  font-size: $h5-mobile;
  font-weight: 600;
}

@include min('small') {
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 0 0 2rem 0;

    &:not(:first-child) {
      margin: 0 0 1.5rem 0;
    }
  }

  h1:not(:first-child),
  h2:not(:first-child),
  h3:not(:first-child) {
    margin-top: 3.5rem;
  }

  // Heading desktop individual styles
  h1 {
    font-size: $h1;
  }

  h2 {
    font-size: $h2;
  }

  h3 {
    font-size: $h3;
  }

  h4 {
    font-size: $h4;
  }

  h5 {
    font-size: $h5;
  }
}
